<!doctype html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:500" rel="stylesheet">
    <link rel='stylesheet' href='/static/index.css' type='text/css'>
    <title>MoodWatch</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery.js"></script>

    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-12 col-md-6 left'>
          <h1>MoodWatch</h1>
          <div class='about'>
            <p>Moodwatch is my final project for <a href='https://hackbrightacademy.com/'>Hackbright Academy's</a> software engineering fellowship.</p>
            <p>This deployed version has three preset accounts to explore the app's mental-health tracking features. The database is reset regularly so new user input is not stored permanently.</p>
            <a class="btn btn-primary" href="https://github.com/qwnpng/moodwatch">GitHub repo of full app</a>
          </div>

          <div class='about'>
            <div class='user' id='loki'>
              <button type="button" class="btn btn-outline-primary" data-user="loki"><h4>Loki</h4></button>
              <p>Cyclic moods to simulate bipolar disorder</p>

            </div><!--
            --><div class='user' id='Thor'>
              <button type="button" class="btn btn-outline-primary" data-user="thor"><h4>Thor</h4></button>
              <p>Moods that change with different medications</p>
            </div><!--
            --><div class='user' id='odin'>
              <button type="button" class="btn btn-outline-primary" data-user="odin"><h4>Odin</h4></button>
              <p>Professional user with access to patient logs</p>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-6 right'>
        </div>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>